---
import MainLayout from "./Main.astro";

interface Props {
  title: string;
  date: Date;
  slug: string;
  readingTime: string;
}

const { title, date, slug, readingTime } = Astro.props;

const getFormattedDate = () => {
  const current = new Date();
  const diff = current.getTime() - date.getTime();
  const days = Math.floor(diff / (1000 * 60 * 60 * 24));
  const months = Math.floor(days / 30);
  const years = Math.floor(months / 12);

  let agoString = "";

  if (years > 0) {
    agoString = `${years} year${years > 1 ? "s" : ""} ago`;
  } else if (months > 0) {
    agoString = `${months} month${months > 1 ? "s" : ""} ago`;
  } else if (days > 0) {
    agoString = `${days} day${days > 1 ? "s" : ""} ago`;
  } else {
    agoString = "today";
  }

  const longDate = date.toLocaleString("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
  });

  return `${longDate} (${agoString})`;
};
---

<MainLayout ogImg={"/og/" + slug + ".png"} title={title}>
  <article
    class="prose overflow-x-hidden prose-zinc prose-invert"
  >
    <header>
      <h1 class="text-2xl sm:text-xl font-bold tracking-tight">
        {title}
      </h1>
      <time class="text-sm text-zinc-400 font-mono">
        {getFormattedDate()} - {readingTime}
      </time>
    </header>
    <slot />
  </article>
</MainLayout>
